{% extends 'shop/base_shop.html' %}
{% load static %}
{% block title %}
  Ваша корзина
{% endblock %}
 
{% block content %}

<div class="container content">
  <h1>Ваша корзина товаров</h1>
  <table class="table table-bordered table-md-responsive">
  	<thead >
      <tr>
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-img.jpg' %}{% endif %}" alt="" class="img-small" >
              </a>
            </td> 
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'CartAdd' product.id %}" method="post" >
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <input type="submit" value="Обновить">
              </form>
            </td>
            <td><a href="{% url 'CartRemove' product.id %}">Удалить</a></td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
    </tbody>
  </table>
 
  <p class="text-right">
    <a href="{% url 'ProductList' %}" class="btn btn-outline-secondary">Продолжить Шопинг</a>
    <a href="{% url 'OrderCreate' %}" class="btn btn-success">Оформить заказ</a>
  </p>


</div>

{% endblock %}