{% extends 'shop/base_shop.html' %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Страница товаров
    {% endif %}
{% endblock %} 

{% block content %}
    <div class="container content">
        
        <div class="row">
            <div class="col-12">
                <h3>
                    {% if category %}
                        {{ categories.name }}
                    {% else %}
                        Товары
                    {% endif %}
                </h3>
                <div class="row">
                    {% for product in products_all %}
                        <div class="col-6">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/no-image.jpg'%} {% endif %}" class="img-responsive" width="100">
                            </a>
                            <a class="product-name" href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            {{ product.price }} руб.
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
