
@import url('https://fonts.googleapis.com/css?family=Montserrat:400i');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/*edit for header and navbar*/

body {
	font-family: 'Montserrat', sans-serif; 
}
h1 {
	font-size: 25px;
}
.cart_in_navbar {
	color: #000;
	text-decoration: none;
}
.img-header {
	width: 70px;
} 
.p-header {
	font-family: 'Oswald', cursive;
	font-weight: 500;
	font-size: 17px;
	position: relative;
	left: -15px;
	opacity: 0.8;
}
/*edit for content. It is list of products and detail*/
.img-small {
	width: 100px;
}
.img-detail {
	width: 250px ;
}
.content {
	margin-top: 75px;
}
.footer {
	margin-top: 50px;
}
/*Стили для корзины cart/detail.html */
.text-right {
	margin-right: 20px;
	padding: 20px;
	white-space: 20px;
}
.text-right a {
	margin-top: 10px;
 	margin-right: 20px;
}

