{% load static %}

<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <a href="//misteravocado.com"><img  src="{% static "image/mravocado.png" %}" class="img-header" alt=""></a>
        </div>
        <div class="col-6">
            <p class="p-header">Наш товар высокого качества и только от лучших производителей</p>
        </div>
        <div class="col-6">
            +7 965 509 61 63
            - г.Новоуральск
        <div class="col-10"></div>
    </div>
</div> -->

<nav class="navbar fixed-top navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Каталог</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        {% for cat in categories %}
          <a class="nav-link" href="{{ cat.get_absolute_url }}">{{ cat }}<span class="sr-only">(current)</span></a>
        {% endfor %}
      </li>
     <!--  <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
    </form>-->
  </div>
</nav>
