

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <a href="#"><img  src="https://i.ibb.co/tM0H305/Love-always-wins.png" class="img-fluid" alt=""></a>
        </div>
        <div class="col-7">
            Наш товар высокого качества и только от лучших производителей
        </div>
        <div class="col-2">
            +7 965 509 61 63
            - г.Новоуральск
        </div>
        <div class="col-1">
            <button>Заказать звонок</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 navbar-container bg-light">
            <!-- Vertical menu -->
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="#">Каталог</a>


            </nav>
        </div>
    </div>
</div>
